.login {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 900 600' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='900' height='600' fill='%239C7BFF'/%3E%3Cpath d='M -0.821 480.993 L 20.73 468.407 C 42.281 455.82 85.383 430.648 128.285 409.303 C 171.287 388.057 213.987 370.538 256.989 377.988 C 299.89 385.339 342.993 417.559 385.895 416.351 C 428.898 415.243 471.597 380.606 514.599 359.462 C 557.501 338.317 600.604 330.665 643.505 339.224 C 686.507 347.782 729.207 372.551 772.209 377.988 C 815.111 383.325 858.213 369.229 879.764 362.18 L 901.315 355.132 L 901.315 602.825 L 879.764 602.825 C 858.213 602.825 815.111 602.825 772.209 602.825 C 729.207 602.825 686.507 602.825 643.505 602.825 C 600.604 602.825 557.501 602.825 514.599 602.825 C 471.597 602.825 428.898 602.825 385.895 602.825 C 342.993 602.825 299.89 602.825 256.989 602.825 C 213.987 602.825 171.287 602.825 128.285 602.825 C 85.383 602.825 42.281 602.825 20.73 602.825 L -0.821 602.825 L -0.821 480.993 Z' fill='%2350ffaf' style='stroke: rgb(0, 0, 0); paint-order: fill; stroke-linecap: round;'/%3E%3Cpath d='M -1.825 444.745 L 19.744 431.353 C 41.313 417.861 84.451 391.078 127.389 397.925 C 170.427 404.772 213.164 445.45 256.201 460.049 C 299.14 474.649 342.277 463.171 385.216 447.967 C 428.253 432.662 470.991 413.531 514.029 422.795 C 556.966 431.957 600.104 469.615 643.042 483.812 C 686.08 498.11 728.817 489.048 771.855 475.757 C 814.793 462.567 857.931 445.047 879.5 436.388 L 901.069 427.628 L 901.069 602.825 L 879.5 602.825 C 857.931 602.825 814.793 602.825 771.855 602.825 C 728.817 602.825 686.08 602.825 643.042 602.825 C 600.104 602.825 556.966 602.825 514.029 602.825 C 470.991 602.825 428.253 602.825 385.216 602.825 C 342.277 602.825 299.14 602.825 256.201 602.825 C 213.164 602.825 170.427 602.825 127.389 602.825 C 84.451 602.825 41.313 602.825 19.744 602.825 L -1.825 602.825 L -1.825 444.745 Z' fill='%2300eee4' style='stroke: rgb(2, 2, 2);'/%3E%3Cpath d='M -1.825 497.103 L 19.744 502.137 C 41.313 507.171 84.451 517.24 127.389 523.08 C 170.427 529.021 213.164 530.632 256.201 511.199 C 299.139 491.766 342.278 451.088 385.215 440.415 C 428.254 429.642 470.991 448.772 514.029 466.896 C 556.966 485.02 600.105 502.137 643.042 511.4 C 686.08 520.563 728.817 521.973 771.855 515.73 C 814.793 509.487 857.931 495.794 879.5 488.846 L 901.069 481.999 L 901.069 602.825 L 879.5 602.825 C 857.931 602.825 814.793 602.825 771.855 602.825 C 728.817 602.825 686.08 602.825 643.042 602.825 C 600.105 602.825 556.966 602.825 514.029 602.825 C 470.991 602.825 428.254 602.825 385.215 602.825 C 342.278 602.825 299.139 602.825 256.201 602.825 C 213.164 602.825 170.427 602.825 127.389 602.825 C 84.451 602.825 41.313 602.825 19.744 602.825 L -1.825 602.825 L -1.825 497.103 Z' fill='%2300d6fe' style='stroke: rgb(0, 0, 0);'/%3E%3Cpath d='M -1.825 541.405 L 19.75 536.371 C 41.325 531.337 84.476 521.268 127.426 520.563 C 170.477 519.959 213.226 528.618 256.277 527.511 C 299.226 526.302 342.378 515.227 385.327 509.487 C 428.378 503.849 471.128 503.446 514.179 506.668 C 557.128 509.89 600.28 516.536 643.229 522.577 C 686.279 528.618 729.029 534.055 772.08 537.177 C 815.03 540.399 858.18 541.405 879.756 541.909 L 901.331 542.412 L 901.331 602.825 L 879.756 602.825 C 858.18 602.825 815.03 602.825 772.08 602.825 C 729.029 602.825 686.279 602.825 643.229 602.825 C 600.28 602.825 557.128 602.825 514.179 602.825 C 471.128 602.825 428.378 602.825 385.327 602.825 C 342.378 602.825 299.226 602.825 256.277 602.825 C 213.226 602.825 170.477 602.825 127.426 602.825 C 84.476 602.825 41.325 602.825 19.75 602.825 L -1.825 602.825 L -1.825 541.405 Z' fill='%2300b9ff' style='stroke: rgb(0, 0, 0);'/%3E%3Cpath d='M -1.825 524.288 L 19.746 525.597 C 41.318 527.007 84.46 529.625 127.403 532.041 C 170.445 534.357 213.187 536.371 256.231 537.177 C 299.172 538.083 342.315 537.68 385.257 540.399 C 428.299 543.117 471.041 548.756 514.083 552.985 C 557.025 557.214 600.168 559.831 643.11 560.838 C 686.153 561.845 728.895 561.241 771.937 554.193 C 814.88 547.145 858.023 533.653 879.595 527.007 L 901.166 520.261 L 901.166 602.825 L 879.595 602.825 C 858.023 602.825 814.88 602.825 771.937 602.825 C 728.895 602.825 686.153 602.825 643.11 602.825 C 600.168 602.825 557.025 602.825 514.083 602.825 C 471.041 602.825 428.299 602.825 385.257 602.825 C 342.315 602.825 299.172 602.825 256.231 602.825 C 213.187 602.825 170.445 602.825 127.403 602.825 C 84.46 602.825 41.318 602.825 19.746 602.825 L -1.825 602.825 L -1.825 524.288 Z' fill='%230097ff' style='stroke: rgb(0, 0, 0);'/%3E%3Cpath d='M -1.825 579.667 L 19.746 572.82 C 41.318 565.873 84.46 552.179 127.403 547.749 C 170.445 543.419 213.187 548.454 256.23 553.992 C 299.171 559.529 342.315 565.571 385.257 567.081 C 428.299 568.591 471.041 565.571 514.083 564.262 C 557.025 562.852 600.169 563.255 643.111 557.012 C 686.153 550.77 728.895 538.083 771.937 540.197 C 814.88 542.412 858.022 559.529 879.594 568.088 L 901.166 576.646 L 901.166 602.825 L 879.594 602.825 C 858.022 602.825 814.88 602.825 771.937 602.825 C 728.895 602.825 686.153 602.825 643.111 602.825 C 600.169 602.825 557.025 602.825 514.083 602.825 C 471.041 602.825 428.299 602.825 385.257 602.825 C 342.315 602.825 299.171 602.825 256.23 602.825 C 213.187 602.825 170.445 602.825 127.403 602.825 C 84.46 602.825 41.318 602.825 19.746 602.825 L -1.825 602.825 L -1.825 579.667 Z' fill='%23496afe' style='stroke: rgb(0, 0, 0); stroke-linecap: square;'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}
.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  background: #000;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}

.dropdown {
  perspective: 200px;
}

.dropdown > button {
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 230px;
  height: 100%;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

.dropdown button .chevron {
  margin-left: auto;
}

.menu {
  overflow: hidden;
  z-index: 1;
  top: 48px;
  left: 0;
  width: 100%;
  height: 56px;
  opacity: 0;
  transform-origin: 50% 0%;
  transform: rotateX(-90deg);
  visibility: hidden;
  transition: 0.4s;
}

.dropdown.open .menu {
  opacity: 1;
  transform: rotateX(0);
  visibility: visible;
}

.main-menu {
  width: 230px;
}

.menu-inner {
  position: absolute;
  width: 460px;
  display: flex;
  transition: 0.3s;
}

.menu-inner.open {
  translate: -50%;
}

.menu button {
  border: 0;
  width: 100%;
  height: 56px;
  border-radius: 0;
}
